[db]
status_db = mysql://...
scheduler_db = mysql://...

[inventory]
api = https://foo:bar@inventory.mozilla.org

[slavealloc]
api = http://slavealloc.build.mozilla.org/api

[repos]
buildbot_configs = http://hg.mozilla.org/build/buildbot-configs
