html {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', 'mono';
}

#container {
    width: 98%;
    margin: 1%;
}

table {
    border: solid 1px red;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    /* width: 800px;*/
}

th:hover {
    cursor: pointer;
}


td {
    text-align: left; 
    padding: 10px;
}

#title {
    text-align: center;
    color: green;
    font-size: 150%;
    text-decoration: blink;
}

.try_syntax {
    font-size: 75%;
    color: yellow;
    text-align: right;
    padding-top: 10px;
}

.hours {
    text-align: right;
}

.jobs {
    text-align: right;
}

.push {
    text-align: right;
}

.user:hover {
    cursor: pointer;
}

#footer {
}
