html {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', 'mono';
}

html.splash {
  background: url(Winners_Dont_Use_Drugs.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

#container {
    width: 98%;
    margin: 1%;
}

table {
    border: solid 1px red;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    /* width: 800px;*/
}

th:hover {
    cursor: pointer;
}


td {
    text-align: left; 
    padding: 10px;
}

#title {
    text-align: center;
    color: green;
    font-size: 150%;
    text-decoration: blink;
}

.hours {
    text-align: right;
}

.jobs {
    text-align: right;
}

.push {
    text-align: right;
}

.user:hover {
    cursor: pointer;
}

#footer {
}
